SPRING_DATASOURCE_URL=jdbc:mysql://mysql-db:3306/orderdb?useSSL=false&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_USERNAME=user
SPRING_DATASOURCE_PASSWORD=password
SPRING_RABBITMQ_HOST=rabbitmq
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=guest
SPRING_RABBITMQ_PASSWORD=guest
APP_RABBITMQ_ORDER_EXCHANGE=order.events
APP_RABBITMQ_ORDER_QUEUE=order.placed.queue
APP_RABBITMQ_ORDER_ROUTING_KEY=order.placed
APP_RABBITMQ_PROCESSED_ROUTING_KEY=order.processed
APP_RABBITMQ_DLX_EXCHANGE=dlx.order.events
APP_RABBITMQ_DLQ_QUEUE=order.dlq
APP_ORDER_MAX_RETRIES=3
SERVER_PORT=8080
